a {  
    text-decoration: none;
  }
  
h1 {  
    font-family: Staatliches;
    font-size: 120px;
}

#category {
    font-family: Staatliches;
    font-weight: 500;
}

#title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
}

#banner {
    margin: 20px;
    height: 800px;
}

#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.uk-navbar-container {
    background: #fff !important;
    font-family: Staatliches;
}

img:hover {  
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

svg {
    margin-top: 40px;
    width: 15em;
}


/* Loading wheel animations */
@keyframes loading-wheel-circle-animation {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }
    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }
    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}

@keyframes svg-viewbox-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg)
    }
}

/* Loading wheel */
.loading-wheel {
    animation: 1.8s ease-in-out infinite both loading-wheel-circle-animation;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-width: 10;
    stroke-dasharray: 283;
    stroke-linecap: round;
    transform-origin: 50% 50%;
}

.loading-wheel-viewbox {
    animation: 2s linear infinite svg-viewbox-animation;
}

/****Article Pages*****
**********************/
  
#article-page-title {
  text-align: center;
  margin: 1em 0 1em;
}